<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <h3>Anasayfa</h3>
    <!--Olusturula urler urlsklasorunde belirtilmeli-->
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam necessitatibus incidunt assumenda. Quidem ipsam
        debitis natus eum ex error, similique sed vitae mollitia rerum facere consequuntur repellat eaque voluptatum
        dolore.</p>
    <p>{{sayi}}</p>
    {% for number in numbers %}
    {% if number == 10 %}
    <p>{{ number }}</p>
    {% else %}
    <p>Tek Sayıdıd</p>
    {% endif %}
    {% endfor %}


</body>

</html>